<ul>
  {{#each model.battle_faces}}
    <li>{{name}}</li>
    <ul>
      <li>{{attack}}</li>
      <li>{{defense}}</li>
      <li>{{speed}}</li>
    </ul>
    <form {{action "selectNewBattleFace" this on="submit"}}>
      <button class="button tiny" type="submit">Choose {{name}}</button>
    </form>
  {{/each}}
</ul>
